@model Garage.Models.ViewModels.MemberViews.MemberDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@Html.Partial("_memberDetails", Model)
